body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(130, 55, 173);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App Component */
.App {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  color: rgb(177, 250, 60);
}

/* NavBar Component */
.NavBar {
  max-width: 1000px;
  min-width: 1000px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  border-bottom: 2px solid;
}

.NavBar h1 {
  max-width: 30%;
}

.NavLinks {
  min-width: 50%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
}

.NavLinks a {
  color: black;
  text-decoration: none;
  font-size: x-large;
  color: rgb(170, 243, 52);
}

.NavLinks a:hover {
  filter: brightness(0.75);
}

/* Home Component */
.Home {
  margin-top: 30px;
  max-width: 1000px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.PostList {
  max-width: 70%;
}

.Post {
  padding: 16px;
  border: 2px solid;
  margin-bottom: 16px;
}

.Post h4 {
  border-bottom: 1px solid;
}

/* PeriodFilter Component */
.PeriodFilter {
  max-width: 20%;
  min-width: 20%;
  height: 60%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border: 2px solid;
}

.PeriodFilter h4 {
  margin: 5px 5px 5px 5px;
}

.MonthFilter:hover {
  cursor: pointer;
  filter: brightness(0.75);
}

/* AddPost Component */
.AddPost {
  margin-top: 30px;
  min-width: 1000px;
  display:flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.formDiv {
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 2px solid;
  padding: 10px 20px 10px 20px;
}

.formDiv textarea {
  min-height: 20vh;
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
}

.formDiv input[type=date] {
  max-width: 20%;
  margin-bottom: 10px;
}

.dateDiv {
  display: flex;
  flex-flow: column;
  min-width: 100%;
  margin-bottom: 10px;
}

.formDiv input[type=submit] {
  max-width: 20%;
  min-width: 20%;
  min-height: 30px;
  background-color: rgb(177, 250, 60);
  border: none;
  border-radius: 5px;
}

.formDiv input[type=submit]:hover {
  cursor: pointer;
  filter: brightness(0.75);
}

.formDiv input[type=text] {
  min-width: 100%;
  margin-bottom: 10px;
}

#labelContent {
  min-width: 100%;
}

#labelTitle {
  min-width: 100%;
}

.AddPost form {
  max-width: 60%;
  min-width: 60%;
}

/* Contact Component */
.Contact {
  margin-top: 30px;
  max-width: 1000px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.AboutMe {
  text-align: justify;
  margin-bottom: 30px;
}

.SendInfo form {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.FeedbackForm {
  min-width: 60%;
  max-width: 60%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  padding: 10px 20px 10px 20px;
}

.FeedbackForm h2 {
  margin: 0px 0px 40px 0px;
}

.FeedbackForm input[type=email] {
  margin-bottom: 10px;
  min-width: 100%;
}

.FeedbackForm textarea {
  margin-bottom: 40px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
}

.FeedbackForm input[type=submit] {
  max-width: 20%;
  min-width: 20%;
  min-height: 30px;
  background-color: rgb(177, 250, 60);
  border: none;
  border-radius: 5px;
}

.FeedbackForm input[type=submit]:hover {
  cursor: pointer;
  filter: brightness(0.75);
}

.FeedbackForm div {
  min-width: 100%;
}

/* PageNotFound Component */

.PageNotFound {
  margin-top:30px;
}